#imgcont{
    width: 50%;
    
    
}

#myimg{
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px){
    #myimg{
        border-radius: 10px 10px 0 0;
        height: auto;
    }

    
}